body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
}

.qr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 320px;
    height: 499px;
    border-radius: 20px;
}

.qr-box {
    justify-content: center;
    text-align: center;
    background-color: white; /* Cor de fundo opcional */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
}

h1 {
    font-family: Outfit;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    width: 100%;
    height: auto;
    color: #1f314f;
    align-self: stretch;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 16px;
}

h2 {
    font-family: Outfit;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.2px;
    width: 100%;
    height: auto;
    color: #68778d;
    text-align: center;
    align-self: stretch;
    margin: 0;
} 

.qr-box > img {
    width: 288px;
    height: 288px;
    border-radius: 20px;
}